.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    right: 50%;
    height: 0%;
	width: 5px;
	transform-origin: center;
    background: linear-gradient(to bottom, #c2321f, #5ecbe6);
}
.main-container {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	height: auto;
	.inner {
		width: 100%;
		height: auto;
	}
	#left-mask {
		position: absolute;
		right: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #fff;
		z-index: 9;
		transition: width .5s ease;
		animation-timing-function: ease-in-out;
	}
	#right-mask {
		position: absolute;
		right: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #fff;
		z-index: 9;
		transition: width .5s ease;
		animation-timing-function: ease-in-out;
	}
	.left {
		background: url(../images/bg.jpg) no-repeat top center;
		background-size: cover;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		height: 70vh;
		min-height: 450px;
        z-index: 5;
		padding-bottom: 40px;

		&--giardiello {
			background: url(../images/projects/giardiello.jpg) no-repeat top right !important;
			background-size: cover !important;
		}
	}
	.right {
		/* ::-webkit-scrollbar {
			display: none;
		} */
		display:block;
		.content {
			display: block;
			padding: 30px;
			//  overflow: scroll;
		}
		.logo {
			width: 100%;
			height: auto;
		} 
		@include respond-to('large'){
			.logo {
				width: 40%;
				height: auto;
			} 
		}
	}
	@include respond-to('large') {
		flex-direction: row;
		.inner {
			width: 50%;
			height: 100%;
			transition: all .5s ease;
		}
		.left {
			position: fixed;
			left: 0;
			overflow: hidden;
			background: url(../images/bg.png) no-repeat center 10%, #5ecbe6;
			background-size: cover;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			ul {
				margin-top: 0;
			}
		}
		.right {
			position: fixed;
			right: 0;
			height: 100%;
			z-index: 2;
			background: #fff;
			overflow: hidden;
			.content {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: space-between;
				padding: 40px;
				height: 100%;
			}
			h2 {
				width: 9.1vw;
				background: linear-gradient(to right, #c2321f, #5ecbe6);
			}
		}
	}
	.fa {
		color: #fff;
		font-size: 24px;
		margin: 15px;
	}
}