@charset 'utf-8';

#left-mask {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: 9;
  transition: width .5s ease;
  animation-timing-function: ease-in-out;
}
#right-mask {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: 9;
  transition: width .5s ease;
  animation-timing-function: ease-in-out;
}
.prova {
  color: green
}