$xs-1: 320px;
$xs-2: 480px;
$xs-3: 600px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* range */
@mixin mobile-down {
	@media (max-width: #{$xs-1}){
		@content;
	}
}
@mixin tablet-down {
	@media (max-width: #{$sm}){
		@content;
	}
}
@mixin desktop-down {
	@media (max-width: #{$md}){
		@content;
	}
}
@mixin large-desktop-down {
	@media (max-width: #{$lg}){
		@content;
	}
}

@mixin tablet-up {
	@media (min-width: #{$sm}){
		@content;
	}
}
@mixin desktop-up {
	@media (min-width: #{$md}){
		@content;
	}
}
@mixin large-desktop-up {
	@media (min-width: #{$lg}){
		@content;
	}
}

/* specifiche */

@mixin phone-portrait {
	@media (min-width: #{$xs-1}) and (max-width: #{$xs-2 - 1px}){
		@content;
	}
}
@mixin phone-landscape {
	@media (min-width: #{$xs-2}) and (max-width: #{$xs-3 - 1px}){
		@content;
	}
}
@mixin smallTablet{
	@media (min-width: #{$xs-3}) and (max-width: #{$sm - 1px}){
		@content;
	}
}
@mixin bigTablet {
	@media (min-width: #{$sm}) and (max-width: #{$md - 1px}){
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$md}) and (max-width: #{$lg - 1px}){
		@content;
	}
}