/* ANIMATIONS
============================================================================= */

/* LEAVING ----------------------------------------- */

/* slide in from the bottom */

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
/* ENTERING --------------------------------------- */

/* scale up */

@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
/*ENTER AND LEAVE*/

.ng-enter {
    @include animation(enter 1.5s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    z-index: 8888;
    @include animation-delay(1.5s);
    @include animation-fill-mode(forwards);
}
.ng-leave {
    @include animation(exit 1.5s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    z-index: 9999;
    @include animation-fill-mode(forwards);
}
/*==================================ALTRO==================================*/

/*CUSTOM ANIMATIONS*/

//enter
 .enter {
    opacity: 0;
    @include animation(enter 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
}
@include keyframes(enter) {
    0% {
        @include transform(scale(0, 0));
        opacity: 0;
    }
    50% {
        @include transform(scale(1, 1));
        opacity: 0;
    }
    100% {
        @include transform(scale(1, 1));
        @include animation-fill-mode(forwards);
    }
}
//exit
 .exit {
    opacity: 1;
    @include animation(exit 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(exit) {
    0% {
        @include transform(scale(1, 1));
        opacity: 1;
    }
    50% {
        @include transform(scale(0, 0));
        opacity: 0;
    }
    100% {
        @include transform(scale(0, 0));
        @include animation-fill-mode(forwards);
    }
}
/*==================================ALTRO==================================*/

$typo-spacing:15px;
 .module {
    padding-top: $typo-spacing*6;
    padding-bottom: $typo-spacing*6;
    @include tablet-down {
        padding-top: $typo-spacing*2;
        padding-bottom: $typo-spacing*2;
    }
    &-notop {
        @extend .module;
        padding-top: 0;
        @include tablet-down {
            padding-top: 0;
        }
    }
}
.module-short {
    padding-top: 25px;
    padding-bottom: 25px;
    @include tablet-down {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.module-minimal {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Typo*/

.h2 {
    color: $heading-color;
    font-size: 3vw;
    font-weight: bold;
    @include tablet-down {
        font-size: 5vw;
    }
}
h3,
.h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 14px;
    margin: 0;
}
/* Buttons */

.btn {
    padding: 10px 30px;
    border-radius: 0;
    letter-spacing: $letter-spacing;
    overflow: hidden;
    @include transition(all 0.3s ease);
    @include tablet-down {
        font-size: 12px;
        padding: 10px;
        letter-spacing: 2px;
    }
}
/* Effect 10: reveal, push out */

nav a {
    position: relative;
    display: block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}
nav a:hover,
nav a:focus {
    outline: none;
}
.btn-transition {
    position: relative;
    z-index: 1;
    a {
        overflow: hidden;
        margin: 0;
        span {
            display: block;
            padding: 10px 20px;
            @include linear-gradient(to right, #c2321f, #5ecbe6);
            @include transition(all .5s ease);
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 10px 20px;
            width: 100%;
            height: 100%;
            background: #fff;
            @include linear-gradient(to right, #c2321f, #5ecbe6);
            @include transition(all .5s ease);
            @include transform(translateX(-25%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            content: attr(data-hover);
        }
        &:hover, &:active, &:focus {
            span {
                @include transform(translateX(100%));
            }
            &:before {
                @include transform(translateX(0%));
            }
        }
    }
    &-alt {
        @extend .btn-transition;
        padding-top: $typo-spacing;
        padding-bottom: $typo-spacing;
        a {
            span {
                @include linear-gradient(to right, #fff, #fff);
                @include transition(all .5s ease);
                color: #a53d25;
            }
            &:before {
                @include linear-gradient(to right, #fff, #fff);
            }
        }
    }
}
/*CUSTOM ANIMATIONS*/

//bouncing
 .bouncing {
    @include animation(bouncing 1s cubic-bezier(0.63, 0.03, 0.36, 1) infinite);
}
@include keyframes(bouncing) {
    0% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(-7px));
    }
    70% {
        @include transform(translateY(0));
    }
    85% {
        @include transform(translateY(-4px));
    }
    100% {
        @include transform(translateY(0px));
    }
}
//fadeIn
 .fadeIn {
    @include animation(fadeIn 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
//fadeOut
 .fadeOut {
    @include animation(fadeOut 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(fadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
//fadeInLeft
 .fadeInLeft {
    opacity: 0;
    @include animation(fadeInLeft 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(fadeInLeft) {
    0% {
        @include transform(translateX(-25px));
    }
    100% {
        @include transform(translateX(0));
        opacity: 1;
    }
}
//fadeInUp
 .fadeInUp {
    opacity: 0;
    @include animation(fadeInUp 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(fadeInUp) {
    0% {
        @include transform(translateY(-25px));
    }
    100% {
        @include transform(translateY(0));
        opacity: 1;
    }
}
//ken
@include desktop-up {
    .ken {
        @include animation(ken 30s ease 1);
        @include animation-fill-mode(forwards);
    }
    @include keyframes(ken) {
        0% {
            @include transform(scale(1))
        }
        100% {
            @include transform(scale(1.20))
        }
    }
}
/*==================================COMMONS==================================*/

.main-container {
    @include display(flex);
    @include align-items(stretch);
    @include justify-content(flex-start);
    width: 100%;
    height: 100%;
	@include tablet-down{
		height: auto;
	}	
	.ion{
		color: #fff;
		font-size: 24px;
		margin: 15px;
	}
    .right-portfolio {
		article{
            &:hover, &:active, &:focus {
				.item{
					h2 {
						@include linear-gradient(to right, #fff, #fff);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					p {
						color: $white;
						.ion{
							color: $white;
						}
					}
					&:before {
						shape-inside: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
						-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
						clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
						opacity: 0.5;
					}
					&:after {
						opacity: 0;
					}
				}
			}
		}
        .item {
			display: block;
            @include transition(background .5s ease);
            img {
                @include filter(grayscale(100%));
            }
            .caption {
                position: absolute;
                top: 50%;
                margin: 0;
                left: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 3;
                @include display(flex);
                @include align-items(flex-start);
                @include justify-content(center);
                @include flex-direction(column);
                p {
                    @include transition(all .5s ease);
					@include display(flex);
					@include align-items(center);
					.ion{
						color: $grey;
					}
                }
                h2 {
                    @include linear-gradient(to right, #c2321f, #5ecbe6);
                    @include transition(background .5s ease);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: capitalize;
                }
            }
            &:before {
                @include linear-gradient(to right, #c2321f, #5ecbe6);
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                z-index: 3;
                @include transition(all .5s ease);
                shape-inside: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            }
            &:after {
                @include linear-gradient(to right, #fff, #fff);
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.95;
                width: 100%;
                z-index: 2;
                @include transition(all .5s ease);
            }
        }
    }
    @include desktop-up {
        @include flex-direction(row);
        .inner {
            width: 50%;
            height: 100%;
            @include transition(width .5s ease);
        }
        .left {
            position: fixed;
            left: 0;
            overflow: hidden;
            background: url(../images/bg.png) no-repeat center center, #5ecbe6;
            background-size: auto;
//            @include animation(slideInLeft 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
            @include display(flex);
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(flex-end);
            padding-bottom: 50px;
			ul{
				margin-top: 0;
			}
        }
        .right {
            position: fixed;
            right: 0;
            height: 100%;
            z-index: 2;
            background: #fff;
            overflow-y: scroll;
            .content {
                @include display(flex);
                @include flex-direction(column);
                @include align-items(stretch);
                @include justify-content(space-between);
                padding: 40px;
                height: 100%;
            }
            h2 {
                width: 9.1vw;
                @include linear-gradient(to right, #c2321f, #5ecbe6);
            }
        }
        .right-portfolio {
            position: fixed;
            right: 0;
            height: 100%;
            overflow-y: scroll;
            @include animation(slideInRight 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
            .btn {
                width: 100%;
            }
            .content {
                padding: 50px;
            }
        }
    }
    @include desktop-down {
        @include flex-direction(column);
        .inner {
            width: 100%;
            height: auto;
        }
        .left {
            background: url(../images/bg.jpg) no-repeat top center;
            background-size: 100%;
            min-height: 400px;
            @include display(flex);
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(flex-end);
        }
        .right {
			@include display(block);
            .content {
				@include display(block);
                padding: 30px;
                overflow: scroll;
            }
			svg{
				width: 100%;
			}
        }
        .right-portfolio {
			@include display(block);
        }
    }
}
//slideInLeft
@include keyframes(slideInLeft) {
    0% {
        @include transform(translateX(-100%));
    }
    100% {
        @include transform(translateX(0));
        @include animation-fill-mode(forwards);
    }
}
//slideInRight
 .slideInRight {
    @include animation(slideInRight 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(slideInRight) {
    0% {
        @include transform(translateX(100%));
    }
    100% {
        @include transform(translateX(0));
        @include animation-fill-mode(forwards);
    }
}
//slideOutRight
 .slideOutRight {
    @include animation(slideOutRight 0.4s cubic-bezier(0.63, 0.03, 0.36, 1) 1);
    @include animation-fill-mode(forwards);
}
@include keyframes(slideOutRight) {
    0% {
        @include transform(translateX(0));
    }
    100% {
        @include transform(translateX(100%));
    }
}
/*==================================HOME==================================*/
.modal{
	.h4,h4{
		margin: 0;
	}
}
#myModalLabel {
    margin-top: 0;
}
/*==================================NAVBAR==================================*/

/*==================================HEADER==================================*/

/*==================================SPLIT==================================*/

/*==================================CONTENT==================================*/

/*==================================BLOG==================================*/

/*==================================FOOTER==================================*/

/*==================================BROWSER CHECK==================================*/

/*==================================FORM==================================*/

/*==================================FEEDBACK==================================*/