// =============================================================================
// BROWSER FIXES
// =============================================================================
body::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    @include selection {
        background-color: $first-color;
        color: $white;
    }
}

:focus {
    outline: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

//.clearfix {
//	@include tablet-down{
//		display: none;
//	}
//}
// =============================================================================
// SELECTION & PLACEHOLDERS
// =============================================================================
.clearfix hr {
    border: none;
    margin: 40px 0;
}


/* COOKIE */

#cookiescript_injected {
	background-color: none !important;
    @include linear-gradient(to right, rgba(194, 50, 31, 0.25), rgba(94, 203, 230, 0.25));
    @include transition(all 0.3s ease);
    &:hover {
		background-color: none !important;
        @include linear-gradient(to right, #c2321f, #5ecbe6);
    }
    @include desktop-up {
        position: fixed !important;
        bottom: 20px !important;
         right: auto !important;
        width: 300px !important;
        height: auto !important;
       left: 20px !important;
        float: none !important;
    }
}

// =============================================================================
// SPACERS
// =============================================================================
.no-padding {
    padding: 0;
    &-r {
        padding-right: 0;
    }
    &-l {
        padding-left: 0;
    }
}

.no-margin {
    margin: 0 !important;
    &-r {
        margin-right: 0 !important;
    }
    &-l {
        margin-left: 0 !important;
    }
    &-t {
        margin-t: 0 !important;
    }
    &-b {
        margin-bottom: 0 !important;
    }
}

.hide-bg {
    background: none !important;
}

.img-block {
    width: 100%;
}

.pad-50 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

// =============================================================================
// VALIGN
// =============================================================================
@include tablet-up {
    .h-align {
        &-center {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
        }
        &-left {
            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-start);
        }
        &-right {
            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-end);
        }
        &-space {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
        }
    }
    .v-align {
        &-left {
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(flex-start);
        }
    }
}

// =============================================================================
// PRELOADER
// =============================================================================

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */
}

#preloader-logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.preload {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
    @include animation(dash 2s linear infinite);
	@include animation-delay(.4s);
@include animation-direction(alternate);}
.preload2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
    @include animation(dash 2s linear infinite);
    @include animation-delay(.8s);
	@include animation-direction(alternate);
}.preload2b {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
    @include animation(dash 2s linear infinite);
    @include animation-delay(1.2s);
	@include animation-direction(alternate);
}.preload2c {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
    @include animation(dash 2s linear infinite);
    @include animation-delay(1.6s);
	@include animation-direction(alternate);
}

@keyframes dash {
    0% {
        fill: rgba(99, 196, 224, 0);
        stroke-dashoffset: 1000;
        stroke: #63C5E0;
    }
    15% {
        fill: rgba(99, 196, 224, 0);
    }
	40% {
        fill: rgba(99, 196, 224, 1);
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #63C5E0;
    }
}
.preload3{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
	fill: none;
    @include animation(dash2 2s linear 1);   
	@include animation-delay(.8s);
	@include animation-fill-mode(both);
}
@keyframes dash2 {
    0% {
        fill: rgba(0, 0, 0, 0);
        stroke-dashoffset: 1000;
        stroke: rgb(0, 0, 0);
    }
    15% {
        fill: rgba(0, 0, 0, 0);
    }
	40% {
        fill: rgba(0, 0, 0, 1);
    }
    100% {
		fill: rgba(0, 0, 0, 1);
        stroke-dashoffset: 0;
        stroke: rgba(0, 0, 0, 0);
    }
}
.preload4{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: none;
	fill: none;
    @include animation(dash3 2s linear 1);    
	@include animation-delay(.8s);
	@include animation-fill-mode(both);
}
@keyframes dash3 {
    
	0% {
        fill: rgba(193, 49, 31, 0);
        stroke-dashoffset: 1000;
        stroke: rgba(193, 49, 31, 1);
    }
    15% {
        fill: rgba(193, 49, 31, 0);
    }
	40% {
		fill: rgba(193, 49, 31, 1);
    }
    100% {
		fill: rgba(193, 49, 31, 1);
        stroke-dashoffset: 0;
        stroke: rgba(193, 49, 31, 0);
    }
}


// =============================================================================
// FORM
// =============================================================================
.iframe {
    width: 100%;
    height: 225px;
    border: none;
    margin-bottom: -5px;
}

.contatti {
    width: 100%;
    height: 530px;
    border: none;
}

// =============================================================================
// ROTATE
// =============================================================================
#rotate {
    opacity: 0;
    position: fixed;
    h3 {
        margin-top: 10px;
    }
}

#rotate-wrap {
    display: table-cell;
    vertical-align: middle;
}

@include phone-landscape {
    #rotate {
        opacity: 1;
        display: table;
        width: 100%;
        height: 100%;
        background-color: $second-color;
        position: fixed;
        z-index: 999999;
        color: $first-color;
        text-align: center;
        top: 0;
    }
}

@include bigTablet {
    #rotate {
        opacity: 1;
        display: table;
        width: 100%;
        height: 100%;
        background-color: $second-color;
        position: fixed;
        z-index: 9999;
        color: $first-color;
        text-align: center;
        top: 0;
    }
}