<!DOCTYPE html>
<html lang="it">
  <head>
    <meta name="google-adsense-account" content="ca-pub-7716592172266156" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7716592172266156"
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author }}" />
    <!-- Open Graph Protocol -->
    <meta property="og:title" content="{{ogType.title}}" />
    <meta property="og:description" content="{{ogType.description}}" />
    <meta property="og:url" content="{{ogType.url}}" />
    <meta property="og:image" content="{{ogType.image}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      charset="UTF-8"
      src="http://www.joshuarte.it/cookie.js"
    ></script>
    <!-- End Open Graph Protocol -->
    <title>{{title}}</title>
    
    <!-- Stili critici per il loader -->
    {% include "shared/critical-styles.njk" %}
    
    <!-- Stili non critici -->
    <link rel="stylesheet" href="stylesheets/app.css" />
    
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W7H28M8MDY"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-W7H28M8MDY");
    </script>

    {% include "shared/app-icons.html" %} {% block head %}{% endblock %}
  </head>

  <body id="page-top" data-module="ctrl">
    <div class="loader"></div>
    {% block content %}{% endblock %} {% block javascript %} {% endblock %}

    <!-- AGGIUNGI QUESTO -->
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
