<div class="inner right" id="right">
  <div id="right-mask"></div>
  <div class="content">
    <div class="row module__bottom">
      <div class="col-sm-10 offset-sm-2 module-notop">
        <svg
          class="logo"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="281.12px"
          height="100.938px"
          viewBox="0 0 281.12 100.938"
          enable-background="new 0 0 281.12 100.938"
          xml:space="preserve"
        >
          <polygon
            points="41.04,53.358 41.04,47.578 54.815,42.608 54.815,48.309 46.28,50.469 54.815,52.631 54.815,58.328 "
          />
          <polygon
            fill="#C2321F"
            points="199.861,38.396 206.181,38.396 194.214,63.407 187.896,63.407 "
          />
          <polygon
            points="75.337,41.043 81.657,41.043 81.657,54.549 90.543,54.549 90.543,59.949 75.337,59.949 "
          />
          <path
            d="M111.064,56.815l4.132-3.483c0.73,1.026,1.432,1.647,2.458,1.647c1.054,0,1.755-0.864,1.755-2.188V41.043h6.159v11.641
	c0,2.485-0.567,4.188-1.971,5.592c-1.297,1.297-3.188,2.053-5.457,2.053C114.521,60.328,112.441,58.87,111.064,56.815"
          />
          <polygon
            points="146.089,41.043 152.68,41.043 156.732,47.687 160.783,41.043 167.375,41.043 167.375,59.949 161.081,59.949 
	161.081,50.576 156.732,57.302 156.625,57.302 152.275,50.576 152.275,59.949 146.089,59.949 "
          />
          <polygon
            points="226.702,52.631 235.236,50.469 226.702,48.309 226.702,42.608 240.476,47.578 240.476,53.358 226.702,58.328 "
          />
          <line
            class="preload2b"
            fill="none"
            stroke="#63C5E0"
            stroke-width="20"
            stroke-miterlimit="10"
            x1="19.557"
            y1="10"
            x2="281.12"
            y2="10"
          />
          <line
            class="preload2c"
            fill="none"
            stroke="#63C5E0"
            stroke-width="20"
            stroke-miterlimit="10"
            x1="0"
            y1="90.957"
            x2="261.682"
            y2="90.957"
          />
          <line
            class="preload2"
            fill="none"
            stroke="#63C5E0"
            stroke-width="20"
            stroke-miterlimit="10"
            x1="9.974"
            y1="0"
            x2="9.974"
            y2="81.539"
          />
          <line
            class="preload"
            fill="none"
            stroke="#63C5E0"
            stroke-width="20"
            stroke-miterlimit="10"
            x1="271.108"
            y1="19.4"
            x2="271.108"
            y2="100.939"
          />
        </svg>
      </div>
    </div>
    <div class="scrolling-content">
      <div class="row module__bottom">
        <div class="col-sm-2">
          <h3>&lt;bio/&gt;</h3>
        </div>
        <div class="col-sm-10">
          <p>
            Ciao! Mi chiamo Luca Joshua. Sono uno sviluppatore con 12 anni di
            esperienza e ho lavorato in diverse aziende in tutto il paese.
            <br /><br />
            Di recente ho progettato, sviluppato e pubblicato "OverlordZ": un
            gioco di carte indipendente per dispositivi mobili e PC, in
            compagnia di alcuni colleghi. Ho appena iniziato una nuova avventura
            e non vedo l'ora che partner commerciali e clienti lavorino con
            <a href="https://www.starcade.it" target="_blank"
              >Starcade Productions</a
            >.
          </p>
        </div>
      </div>
      <div class="row module__bottom">
        <div class="col-sm-2">
          <h3>&lt;skills/&gt;</h3>
        </div>
        <div class="col-sm-10">
          <p>
            - <b>Sviluppo Web</b> (Nuxt, Roots.io)<br />
            - <b>GUI / UI / UX</b>(Figma)<br />
            - <b>Design & Sviluppo Giochi</b> (Game maker studio 2 / Vue 3)<br />
            - <b>Design & Sviluppo Giochi Pubblicitari</b> (Construct 3 /
            GDevelop)<br />
            - <b>Design Assets di Gioco</b>(Krita / Procreate)<br />
            - <b>Gestione progetti / Consulenza IT</b> (Jira / Trello)
          </p>
        </div>
      </div>
      <div class="row module__bottom">
        <div class="col-sm-2">
          <h3>&lt;work/&gt;</h3>
        </div>
        <div class="col-sm-10">
          <ul>
            <li>
              <p>
                <a
                  href="https://www.starcade.it/"
                  title="imagineed"
                  target="_blank"
                  rel="noopener"
                >
                  <strong>STARCADE</strong>
                </a>
              </p>
              <p><strong>Founder</strong> - 2022 > now</p>
              <p>Siamo sviluppatori ed editori indipendenti di giochi e software, con sede a Napoli, in Italia, con una passione per i giochi 2D e il desiderio di supportare e creare giochi straordinari e altamente caratterizzati.</p>
            </li>
            <li>
              <p>
                <a href="#"><strong>IMAGINEED</strong></a>
              </p>
              <p><strong>Game Designer & Developer</strong> - 2021 > 2022</p>
              <p>
                Ho colto l'occasione per acquisire esperienza nello sviluppo e
                nella progettazione di giochi con alcuni colleghi. Il mio ruolo
                in questo progetto è rimbalzato dalla gestione del progetto al
                design del gioco, dallo sviluppo fino al marketing. Abbiamo
                pubblicato OverlordZ, un gioco di carte indie per dispositivi
                mobili e PC.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="https://we-rad.com/"
                  title="werad"
                  target="_blank"
                  rel="noopener"
                >
                  <strong>WE RAD</strong>
                </a>
              </p>
              <p><strong>Senior Frontend Developer</strong> - 2019 > 2020</p>
              <p>
                Il ruolo che ho ricoperto in questa azienda mi ha permesso di
                gestire e definire soluzioni ottimali in alcuni progetti in base
                alle esigenze di business, oltre a comprendere meglio le
                responsabilità e le criticità durante le fasi di sviluppo e
                progettazione.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="http://www.bluelabs.it/"
                  title="bluelabs"
                  target="_blank"
                  rel="noopener"
                >
                  <strong>BLUELABS</strong>
                </a>
              </p>
              <p><strong>Frontend Developer</strong> - 2017 > 2019</p>
              <p>
                Il mio ruolo presso l'azienda ricopre attività di sviluppo
                frontend per web app e landing pages basate su Vue2 e Webpack,
                manutenzione e l'implementazione di nuove features su progetti
                esistenti.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="http://www.emmemedia.com"
                  title="emmemedia"
                  target="_blank"
                  rel="noopener"
                >
                  <strong>EMMEMEDIA</strong>
                </a>
              </p>
              <p><strong>Frontend Developer</strong> - 2013 > 2017</p>
              <p>
                Nella mia esperienza di lavoro con questa azienda ho lavorato su
                innumerevoli progetti che mi hanno permesso di comprendere
                meglio la validazione del W3C e il modello HTML orientato alla
                SEO. Tutti i siti Web sono stati realizzati con HTML
                personalizzato, jQuery / vanilla JS e Sass.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row module__bottom">
      <div class="col-sm-10 offset-sm-2">
        <p class="h-align-left ">
          <a href="#" data-module="modalToggle"> <strong>privacy</strong> </a
          >&nbsp; | &copy;2019 - &nbsp;
          <svg
            class="ljm"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="100"
            viewBox="0 0 199.436 25.011"
            enable-background="new 0 0 199.436 25.011"
            xml:space="preserve"
          >
            <polygon
              points="0,14.962 0,9.182 13.775,4.212 13.775,9.912 5.24,12.072 13.775,14.234 13.775,19.932 "
            />
            <polygon
              fill="#C2321F"
              points="158.821,0 165.141,0 153.174,25.011 146.856,25.011 "
            />
            <polygon
              points="34.297,2.646 40.617,2.646 40.617,16.152 49.503,16.152 49.503,21.553 34.297,21.553 "
            />
            <path
              d="M70.024,18.419l4.132-3.483c0.73,1.026,1.432,1.647,2.458,1.647c1.054,0,1.755-0.864,1.755-2.188V2.646h6.159v11.641
	c0,2.485-0.567,4.188-1.971,5.592c-1.297,1.297-3.188,2.053-5.457,2.053C73.481,21.932,71.401,20.474,70.024,18.419"
            />
            <polygon
              points="105.049,2.646 111.64,2.646 115.692,9.29 119.743,2.646 126.334,2.646 126.334,21.553 120.041,21.553 
	120.041,12.18 115.692,18.905 115.584,18.905 111.235,12.18 111.235,21.553 105.049,21.553 "
            />
            <polygon
              points="185.662,14.234 194.196,12.072 185.662,9.912 185.662,4.212 199.436,9.182 199.436,14.962 185.662,19.932 "
            />
          </svg>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <nav class="btn-transition d-none d-sm-block">
          <a
            href="#"
            id="show-portfolio"
            data-hover="LATEST WORKS"
            data-module="showPortfolio"
          >
            <span>LATEST WORKS</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="main-container right 	d-block d-sm-none">
  <div class="content">
    <h3 class="	d-block d-sm-none">&lt;latest works/&gt;</h3>
  </div>
</div>

<div class="inner right-portfolio">
  <div class="content2">
    {% include "shared/projects.html" %}
  </div>
  <div class="clearfix  d-none d-sm-block">&nbsp;</div>
  <nav class="btn-transition d-none d-sm-block">
    <div class="content">
      <a
        href="#"
        id="show-bio"
        data-hover="BACK TO BIO"
        data-module="showPortfolio"
      >
        <span>BACK TO BIO</span>
      </a>
    </div>
  </nav>
  <nav class="btn-transition 	d-block d-sm-none">
    <div class="content">
      <a
        href="#"
        id="show-bio"
        data-hover="BACK TO BIO"
        data-module="scrollTop"
      >
        <span>BACK TO BIO</span>
      </a>
    </div>
  </nav>
</div>

{% include "shared/privacy.html" %}
