<div class="inner right" id="right">
    <div id="right-mask"></div>
    <div class="content content--articles">
        <div class="scrolling-content">
            <div class="row module__bottom">
                <div class="col-sm-12">
                    <h4>&lt;dr. Cristiano Giardiello from zero to HERO/&gt;</h4>
                </div>
                <div class="col-sm-12">
                    <p>
                        Dr. Cristiano Giardiello immediately seemed to us a person with whom it would have been
                        possible to collaborate, not just let us work as a standard operators. I mean, after an
                        initial talking interview, having really tight deadlines, the doctor left us carte blanche in
                        order to be able to continue processing by respecting budget and timing: we had contact on
                        April
                        1st 2018 and from there in a month it would be aired the program "Una clinica per rinascere",
                        on
                        Realtime. As a result, the doctor needed a new identity, a logo, a website as a new information
                        portal for his patients in less than a month.
                    </p>

                    <p> We did not give up and the same evening we started working hard on his new identity. For the
                        development, instead, we chose all open-source and free technologies, given the limited
                        budget for the project.</p>

                    <p> We have completely revised all the textual content, laid the foundations for the new sitemap on
                        the site, built and presented the new logo that immediately appealed to Doctor Giardiello, and
                        presented the layout of the new website.</p>

                    <img src="images/articles/giardiello/logo-shrinked.svg" alt="dr. cristiano giardiello logo. watch una clinica per rinascere on realtime">

                    <p> We must thank the doctor also for allowing us to enter the structure in which he operates,
                        Pineta Grande, and exploit real places for the realization of a photoshooting that gave a
                        completely different look to the graphics of the site thanks to photos of real and spontaneous
                        professional life .</p>

                    <img src="images/articles/giardiello/3.jpg" alt="dr. cristiano giardiello operating. watch una clinica per rinascere on realtime">


                    <p> Furthermore, tools like Trello, Figma and the open-source libraries we used to write the site
                        code were very useful to speed up our workflow, all managed through an Agile mentality shared
                        between 3 people, directed by me.</p>

                    <p> In short, working for Dr. Giardiello was like entering a playground where we could unleash our
                        creativity, while respecting the budget and tight deadlines.</p>

                    <p> I refer to the site <a href="https://cristianogiardiello.it/" target="_blank">for viewing at
                            this link</a></p>

                    <a href="https://cristianogiardiello.it/" target="_blank">
                        <img src="images/articles/giardiello/screen.png" alt="dr. cristiano giardiello website. watch una clinica per rinascere on realtime">
                    </a>

                    <p> What are you waiting for?<br> Are you ready to invest in your new idea, or see your business take a
                        new shape?</p>

                    <nav class="btn-transition hidden-xs">
                        <a href="mailto:joshuarte@gmail.com" data-hover="LET'S HAVE A TALK!">
                            <span>LET'S HAVE A TALK!</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <nav class="btn-transition hidden-xs">
                    <a href="/" id="show-portfolio" data-hover="BACK TO BIO">
                        <span>BACK TO BIO</span>
                    </a>
                </nav>
            </div>
        </div>

        <div class="clearfix visible-xs">&nbsp;</div>
        <h3 class="visible-xs">&lt;latest works/&gt;</h3>
    </div>
</div>

{% include "shared/privacy.html" %}