<div class="inner right" id="right">
  <div id="right-mask"></div>
  <div class="content content--articles">
    <div class="scrolling-content">
      <div class="row">
        <div class="col-sm-12">
          <h4>&lt;from contact to finalization&gt;</h4>
        </div>
        <div class="col-sm-12">
          <p>
            From the first interview with dr. Cristiano Giardiello me and Mario
            Biancolella, frontend and UI / UX designer, immediately faced a real
            challenge. Dr. Giardiello needed to see his new brand and website
            published within 30 days, starting from scratch completely.
          </p>
          <h4>&lt;tight deadlines&gt;</h4>

          <p>
            We therefore evaluated the best solutions to meet the deadline,
            starting to work on it from the first days of April. The Dr. would
            have had this strong need because from there in less than a month
            the program "Una clinica per rinascere" would be broadcast on
            realtime.
          </p>

          <h4>&lt;content revisiting&gt;</h4>
          <p>
            For us it has been fundamental therefore to invest most of the time
            in an accurate analysis of the contents, going to draw up the
            descriptions of the various services offered by Giardiello and his
            team. In a few days we already had an accurate and revised sitemap
            with which it would have been easier to get the right navigation for
            the site.
          </p>

          <img
            src="/images/articles/giardiello/sitemap.jpg"
            alt="dr. cristiano giardiello logo. watch una clinica per rinascere on realtime"
          />

          <h4>&lt;the chosen tools&gt;</h4>
          <p>
            We then moved immediately to work, and as project manager, as well
            as the sole developer, I couldn't help but choose Trello for task
            management configured with an Agile board and open-source libraries
            that would help me speed up website development. Meanwhile, Mario
            continued his work using Figma both to build the brand and to
            structure the wireframe and then the final design of the site.
            Through these tools it was possible to dialogue with our client in
            real time, and if there had been substantial or reduced changes, Dr.
            Giardiello would have had the opportunity to interact with the
            artboards, and the contents. As a result, we have reached a stage in
            which all the textual content and site navigation has been approved
            by the customer before even starting to develop the site code.
          </p>
          <ul>
            <li>
              <p>
                <a
                  href="https://help.trello.com/article/708-what-is-trello"
                  target="_blank"
                >
                  Trello</a
                >
                is a collaboration tool that organizes your projects into
                boards. In one glance, Trello told what's being worked on,
                what's working on, and where something is in a process.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="https://blog.trello.com/beginners-guide-scrum-and-agile-project-management"
                  target="_blank"
                  >Agile</a
                >
                refers to a set of methods and practices based on values ​​and
                principles expressed in the Agile Manifesto, which includes
                things like collaboration, self-organization, and cross
                functionality of teams. Scrum is a framework that is used to
                implement Agile development.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="https://www.figma.com/blog/a-sketch-users-perspective-on-switching-to-figma/"
                  target="_blank"
                  >Figma</a
                >

                Figma is a web-based design tool with real-time collaboration.
                It's like Craft Freehand but with all the features of Sketch
                (and more). It works in web browsers, and there are also native
                apps that let you work offline.
              </p>
            </li>
          </ul>

          <h4>&lt;presentation&gt;</h4>
          <p>
            Before moving on to the design phase, we presented the new identity
            to the customer, coming out winning the first proposal. From there,
            Mario integrated the new colors and new iconographic materials that
            would have given greater prominence to the Dr. Giardiello brand to
            the wireframe.
          </p>

          <h4>&lt;brand identity&gt;</h4>
          <p>
            The brand was consequently strengthened in every aspect, the strong
            and "surgical" logotype, the original photos with which we were able
            to interact graphically without having to give that false, false
            imprint that usually repertoire materials tend to imprint to the
            project.
          </p>
          <img
            src="/images/articles/giardiello/logo-shrinked.svg"
            alt="dr. cristiano giardiello logo. watch una clinica per rinascere on realtime"
          />

          <h4>&lt;photoshooting&gt;</h4>
          <p>
            At the same time, we used stock photos to give us an idea of ​​how
            the areas to highlight could come through more photographic than
            graphic material. From there, I was inspired to visit the Doctor at
            the place where he works: Pineta Grande. It was a wonderful
            experience to be able to pass, with a lot of surgeon's clothes,
            inside the various departments of the hospital and to be able to
            photograph the interiors of a real operating room, in which the
            Doctor lent himself in professional and technical poses. At the end
            of the day of photoshooting we had all the material we would need to
            continue with the design of the site.
          </p>
          <img
            src="/images/articles/giardiello/3.jpg"
            alt="dr. cristiano giardiello operating. watch una clinica per rinascere on realtime"
          />

          <h4>&lt;web development&gt;</h4>
          <p>
            We end with the actual development of the site within a week of the
            agreed deadline, without any hitch thanks to the materials
            previously prepared and thanks to the help of Open Source libraries
            that have allowed us to obtain an excellent quality for the whole
            project.
          </p>
          <a href="https://cristianogiardiello.it/" target="_blank">
            <img
              src="/images/articles/giardiello/screen.png"
              alt="dr. cristiano giardiello website. watch una clinica per rinascere on realtime"
            />
          </a>

          <p>
            I refer to the site
            <a href="https://cristianogiardiello.it/" target="_blank"
              >for viewing at this link</a
            >
          </p>

          <p>
            I like to emphasize that we are not at all an agency with
            standardized methods.<br />
            <strong>
              We are simple people, who will follow you individually as a tailor
              follows a bride before the wedding!</strong
            >
          </p>

          <p>
            What are you waiting for? Are you ready to see your idea take a real
            shape?
          </p>

          <nav class="btn-transition hidden-xs">
            <a
              href="mailto:joshuarte@gmail.com"
              data-hover="LET'S HAVE A TALK!"
            >
              <span>LET'S HAVE A TALK!</span>
            </a>
          </nav>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 40px">
      <div class="col-sm-6">
        <nav class="btn-transition">
          <a href="/" id="show-portfolio" data-hover="BACK TO BIO">
            <span>BACK TO BIO</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>

{% include "shared/privacy.html" %}
